<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAw9XK3LRSpEyoXPjxnMIpKuNZ59HBa7-A</string>
	<key>GCM_SENDER_ID</key>
	<string>38019552370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gogreenLite</string>
	<key>PROJECT_ID</key>
	<string>gogreen-lite</string>
	<key>STORAGE_BUCKET</key>
	<string>gogreen-lite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38019552370:ios:f07e6e0b036d3582869eeb</string>
</dict>
</plist>